@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body{
    font-family: 'Ubuntu',sans-serif;
}
/* container */

 .container{
     padding-left:1rem;
     padding-right: 1rem;
 }

 .container-center{
     max-width: 600px;
     margin:auto;
 }
 